<h1>Yelp</h1>
<h3> All Restaurants </h3>
<div class="row">
  <div class="cards d-flex flex-wrap justify-content-center ">
    <% @restaurants.each do |r|%>
    <div class="card m-3 p-3 ">
      <strong><%= link_to r.name, restaurant_path(r)%></strong>
      <p><%= r.category.capitalize%></p>
      <p><%= r.address%></p>
      <p><%= r.phone_number%></p>
    </div>
    <%end%>
  </div>
</div>
